.contacts{
    padding: 80px 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.links h2{
    color: #252627;
    font-family: "Caveat";
    font-size: 48px;
    font-weight: normal;
}
.links a{
    color: #FFA400;
    font-size: 30px;
    display: inline-block;
    font-weight: normal;
    margin-top: 15px;
    font-family: "Maven Pro";
}
.links a:hover::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #FFA400;
}
.phoneHead{
    margin-top: 15px;
}
.form_contact label{
    color: #252627;
    font-size: 30px;
    display: block;
    margin-top: 18px;
}
.form_contact input, textarea{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border:#252627 solid 1px;
    outline: none;
    color: #252627;
    padding: 0 10px;
    font-size: 20px;
    resize: vertical;
}
textarea{
    height: 100px;
}
.map{
    height: 500px;
    padding: 0 10%;
    margin-bottom: 100px;
}
.map iframe{
    border: none;
    height: 100%;
    width: 100%;
}